<div class="text-center">
  <div class ="jumbotron">
    <h1 class="bg-primary"><img src="/check.png" alt="checklist" class="img-circle">Task Manager</h1></img>

<h1 class= "bg-primary">All Tasks</h1>

<link href='css/bootstrap.css' rel='stylesheet'>
<% @tasks.each do |task| %>
  <h3 class= "well"><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>

  <a class= "well" href="/tasks/<%= task.id %>/edit">Edit</a>

  <form action="/tasks/<%= task.id %>" method ='POST'>
    <input type='hidden' name="_method" value ='delete'>
    <input type="submit" value= "delete">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<% end %>
</div>
</div>
